<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated conflict -->
      <package
            uri="http://www.ustb.edu.cn/sei/mde/nmc/conflict"
            class="edu.ustb.sei.mde.conflict.ConflictPackage"
            genModel="model/conflict.genmodel"/>
   </extension>

</plugin>
